/* Main theme colour */
:root {
  --primary-accent: #2b8a75;
  --navbar-border-top: #000000;
  --button-border: #2a7d8c;
  --link-focus: #010c0e;
  --form-shadow: rgba(56, 167, 187, 0.6);
  --pagination-bg: #a7dbe5;
  --link-hover-bg: #2c8494;
  --navbar-focus: #80cbd9;
}


/* Top bar colour */
#top {
  background: #000000;
  color: #e8ebe9;
  padding: 10px 0;
}

.navbar { 
  position: static;
  min-height: px;
  margin-bottom: 0px;
  border-bottom: 1px solid transparent;
}

/* Home Carousel masking  */

.home-carousel {
  position: relative;
  background: url('../img/photogrid.jpg') center center repeat;
  background-size: cover;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.home-carousel .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-accent);
  opacity: 0.2;
  filter: alpha(opacity=10);
}
.home-carousel .owl-carousel {
  padding-top: 60px;
  padding-bottom: 20px;
}
.home-carousel .owl-theme .owl-controls .owl-page span {
  background: #666;
}
.home-carousel .owl-theme .owl-controls .owl-page.active span {
  background: #fff;
}
.home-carousel .owl-theme .owl-controls .owl-page:hover span {
  background: #fff;
}
@media (max-width: 767px) {
  .home-carousel {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .home-carousel .right {
    text-align: right;
  }
}
.home-carousel h1,
.home-carousel h2,
.home-carousel h3,
.home-carousel p,
.home-carousel ul {
  color: #fff;
}
.home-carousel h1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 46px;
  opacity: 0;
  letter-spacing: 0.08em;
}
@media (max-width: 991px) {
  .home-carousel h1 {
    font-size: 36px;
  }
}
.home-carousel h2 {
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0;
  font-size: 40px;
  letter-spacing: 0.08em;
}
.home-carousel ul,
.home-carousel p {
  font-size: 18px;
  font-weight: 700;
  opacity: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.10em;
}
@media (max-width: 991px) {
  .home-carousel ul,
  .home-carousel p {
    font-size: 14px;
  }
}
.home-carousel ul li {
  margin-bottom: 10px;
}


/* Reduce space between carousel and buttons */
section, div.section {
  margin-bottom: 5px;
}


/* Font size */

#post-content {
  font-size: 18px;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 1px #fff;
  font-size: 35px;
}




#footer {
  background: #000000;
  padding: 25px 0;
  color: #ffffff;
}

#copyright {
  background: rgb(41, 36, 36);
  color: rgb(255, 255, 255);
  padding: 25px 0;
  font-size: 12px;
  line-height: 28px;
}