/* your styles go here */
/* NOT REDERING */

/* test for colour change */
:root {
  --primary-accent: #2b8a75;
  --navbar-border-top: #490b31;
  --button-border: #2a7d8c;
  --link-focus: #010c0e;
  --form-shadow: rgba(56, 167, 187, 0.6);
  --pagination-bg: #a7dbe5;
  --link-hover-bg: #2c8494;
  --navbar-focus: #80cbd9;
}

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 50px;
  margin: auto;
}

.box-simple {
  min-height: 10px;
}

.navbar {
  position: static;
  /* min-height: px; */
  margin-bottom: 0px;
  border-bottom: 1px solid transparent;
}

.navbar-brand {
  padding: 5px 5px;
}

.navbar-brand img {
  max-height: 100px;
}

.navbar-nav > li > a {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Reduce space between carousel and buttons */
section, div.section {
  margin-bottom: 5px;
}

/* Home Carousel masking  */

.home-carousel .dark-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-accent);
  opacity: 0.5;
  filter: alpha(opacity=10);
}

/* Font size */

#post-content {
  font-size: 18px;
}

.icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #fff;
  line-height: 80px;
  border-radius: 40px;
  border: solid 1px #fff;
  font-size: 35px;
}