/* your styles go here */
/* NOT REDERING */

/* test for colour change */
:root {
  --primary-accent: #c724bf;
  --navbar-border-top: #d6198e;
  --button-border: #2a7d8c;
  --link-focus: #010c0e;
  --form-shadow: rgba(56, 167, 187, 0.6);
  --pagination-bg: #a7dbe5;
  --link-hover-bg: #2c8494;
  --navbar-focus: #80cbd9;
}

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 500px;
  margin: auto;
}

.box-simple {
  min-height: 440px;
}

.navbar-brand {
  padding: 0px 20px;
}